<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
	<meta charset="utf-8">
	<title>To Do List</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script type="text/javascript" src="angular-local-storage.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="ToDoController">
	<h3>Lista</h3>
	<ul>
		<li ng-repeat="i in todo">
			{{i.descripcion}} - 
			{{i.fecha | date: 'short'}}
		</li>
	</ul>
	<form ng-submit="addAct()">
		<input type="text" name="actividad" ng-model="newAct.descripcion"><br>
		<input type="datetime-local" name="fecha" ng-model="newAct.fecha"><br>
		<input type="submit" name="" value="Guardar">
	</form>
	<br>
	<button ng-click="todo = []">Limpiar</button>
</body>
</html>